.view-container
  height 100%
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  align-content center

.login-container
  border 1px solid rgba(black, .5)
  padding 1rem .5rem
  border-radius .2rem
  
